<a href="https://colab.research.google.com/github/MoMahmoud8/Fake-News-Detection/blob/main/fake_news_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install opendatasets
import opendatasets as od

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from opendatasets) (8.1.3)
Requirement already satisfied: kaggle in /usr/local/lib/python3.9/dist-packages (from opendatasets) (1.5.13)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from opendatasets) (4.65.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (2.25.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (1.26.15)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.9/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle->opendatasets) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle->opendatasets) (2.10)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [2]:
od.download('https://www.kaggle.com/datasets/jainpooja/fake-news-detection')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: mostafamahmoudhassan
Your Kaggle Key: ··········
Downloading fake-news-detection.zip to ./fake-news-detection

100%|██████████| 41.0M/41.0M [00:00<00:00, 122MB/s]

In [3]:
import pandas as pd
import numpy as np

In [4]:
df_true=pd.read_csv('/content/fake-news-detection/True.csv')
df_fake=pd.read_csv('/content/fake-news-detection/Fake.csv')
print(df_true.shape)
print(df_fake.shape)

(21417, 4)
(23481, 4)

In [5]:
df_true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [6]:
df_true['class']=1
df_fake['class']=0

In [7]:
df_fake

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

Merge the 2 dataset

In [8]:
df=pd.concat([df_true,df_fake],axis=0)
df

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [9]:
#Random shuffling
df=df.sample(frac=1)
df

,title,text,subject,date,class
16100,N. KOREA’S LATEST MISSILE LAUNCH Aimed At Test...,North Korea said on Monday it had successfully...,Government News,"May 15, 2017",0
21041,U.S. wants U.N. vote on new North Korea sancti...,UNITED NATIONS (Reuters) - The United States w...,worldnews,"September 4, 2017",1
9967,Puerto Rico rescue plan strains U.S. Republica...,WASHINGTON (Reuters) - Leading Republicans on ...,politicsNews,"April 12, 2016",1
9244,"Under fire from Republicans, Trump says he'll ...",WASHINGTON (Reuters) - Bowing to pressure from...,politicsNews,"June 7, 2016",1
17485,Four Moldovans killed in Ivory Coast plane cra...,ABIDJAN (Reuters) - Four Moldovan nationals we...,worldnews,"October 14, 2017",1
...,...,...,...,...,...
14517,UK Lords appoint first woman to historic 'Blac...,LONDON (Reuters) - Britain s upper parliamenta...,worldnews,"November 17, 2017",1
2092,Unwavering Trump voters say they will not miss...,CHICAGO (Reuters) - Former White House chief s...,politicsNews,"August 19, 2017",1
17117,Maltese journalist's son says she was murdered...,VALLETTA (Reuters) - The son of Malta s best-k...,worldnews,"October 17, 2017",1
23337,BOILER ROOM – EP #59 – The Loss and Curse of P...,Tune in to the Alternate Current Radio Network...,Middle-east,"June 1, 2016",0
7808,Former Campaign Finance Co-Chair BLASTS Chris...,"On Friday, New Jersey Governor Chris Christie ...",News,"February 28, 2016",0

In [10]:
#drop not required columns
df=df.reset_index()
df=df.drop(['index','title','subject','date'],axis=1)
df

                                                    text  class
0      North Korea said on Monday it had successfully...      0
1      UNITED NATIONS (Reuters) - The United States w...      1
2      WASHINGTON (Reuters) - Leading Republicans on ...      1
3      WASHINGTON (Reuters) - Bowing to pressure from...      1
4      ABIDJAN (Reuters) - Four Moldovan nationals we...      1
...                                                  ...    ...
44893  LONDON (Reuters) - Britain s upper parliamenta...      1
44894  CHICAGO (Reuters) - Former White House chief s...      1
44895  VALLETTA (Reuters) - The son of Malta s best-k...      1
44896  Tune in to the Alternate Current Radio Network...      0
44897  On Friday, New Jersey Governor Chris Christie ...      0

[44898 rows x 2 columns]

In [11]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [12]:
#process the texts
import re
import string
def text_preprocess(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [13]:
df['text']=df['text'].apply(text_preprocess)

In [14]:
#split data and classes
X=df['text']
y=df['class']
X

0        north korea said on monday it had successfully...
1        united nations  reuters    the united states w...
2        washington  reuters    leading republicans on ...
3        washington  reuters    bowing to pressure from...
4        abidjan  reuters    four moldovan nationals we...
                               ...
44893    london  reuters    britain s upper parliamenta...
44894    chicago  reuters    former white house chief s...
44895    valletta  reuters    the son of malta s best k...
44896    tune in to the alternate current radio network...
44897    on friday  new jersey governor chris christie ...
Name: text, Length: 44898, dtype: object

In [15]:
#split data to train and test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1)

In [16]:
#convert text data to vectors
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
Xtrain=tfidf.fit_transform(X_train)
Xtest=tfidf.transform(X_test)

In [17]:
#import the needed classification model and metrics
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,classification_report

In [18]:
Logistic_Regression=LogisticRegression()
Decision_Tree=DecisionTreeClassifier()
Gradient_BoostingClassifier=GradientBoostingClassifier()
Random_ForestClassifier=RandomForestClassifier()
models=[Logistic_Regression , Decision_Tree , Gradient_BoostingClassifier , Random_ForestClassifier]

In [19]:
def classification_model(model):
  model.fit(Xtrain,y_train)
  y_pred=model.predict(Xtest)
  acc=accuracy_score(y_pred,y_test)
  report=classification_report(y_pred,y_test)
  print(f'Model {model} accuracy is {acc}')
  print(report)

In [20]:
for model in models:
  classification_model(model)

Model LogisticRegression() accuracy is0.988641425389755
              precision    recall  f1-score   support

           0       0.99      0.99      0.99      2311
           1       0.99      0.99      0.99      2179

    accuracy                           0.99      4490
   macro avg       0.99      0.99      0.99      4490
weighted avg       0.99      0.99      0.99      4490

Model DecisionTreeClassifier() accuracy is0.9962138084632517
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2323
           1       1.00      1.00      1.00      2167

    accuracy                           1.00      4490
   macro avg       1.00      1.00      1.00      4490
weighted avg       1.00      1.00      1.00      4490

Model GradientBoostingClassifier() accuracy is0.9962138084632517
              precision    recall  f1-score   support

           0       0.99      1.00      1.00      2315
           1       1.00      0.99      1.00      2175

    accuracy                           1.00      4490
   macro avg       1.00      1.00      1.00      4490
weighted avg       1.00      1.00      1.00      4490

Model RandomForestClassifier() accuracy is0.9906458797327394
              precision    recall  f1-score   support

           0       0.99      0.99      0.99      2332
           1       0.99      0.99      0.99      2158

    accuracy                           0.99      4490
   macro avg       0.99      0.99      0.99      4490
weighted avg       0.99      0.99      0.99      4490

In [29]:
#if you want to test some news ,pass it to this function and see the result
def test(news):
  text=text_preprocess(news)
  text=tfidf.transform([text])
  pred=Logistic_Regression.predict(text)
  if pred[0]==0:
    print('Fake news ya bro')
  else:
    print('True news ya bro')

In [21]:
news = str(input())

BRUSSELS (Reuters) - NATO allies on Tuesday welcomed President Donald Trump s decision to commit more forces to Afghanistan, as part of a new U.S. strategy he said would require more troops and funding from America s partners. Having run for the White House last year on a pledge to withdraw swiftly from Afghanistan, Trump reversed course on Monday and promised a stepped-up military campaign against  Taliban insurgents, saying:  Our troops will fight to win .  U.S. officials said he had signed off on plans to send about 4,000 more U.S. troops to add to the roughly 8,400 now deployed in Afghanistan. But his speech did not define benchmarks for successfully ending the war that began with the U.S.-led invasion of Afghanistan in 2001, and which he acknowledged had required an   extraordinary sacrifice of blood and treasure .  We will ask our NATO allies and global partners to support our new strategy, with additional troops and funding increases in line with our own. We are confident they will,  Trump said. That comment signaled he would further increase pressure on U.S. partners who have already been jolted by his repeated demands to step up their contributions to NATO and his description of the alliance as  obsolete  - even though, since taking office, he has said this is no longer the case. NATO Secretary General Jens Stoltenberg said in a statement:  NATO remains fully committed to Afghanistan and I am looking forward to discussing the way ahead with (Defense) Secretary (James) Mattis and our Allies and international partners.  NATO has 12,000 troops in Afghanistan, and 15 countries have pledged more, Stoltenberg said. Britain, a leading NATO member, called the U.S. commitment  very welcome .  In my call with Secretary Mattis yesterday we agreed that despite the challenges, we have to stay the course in Afghanistan to help build up its fragile democracy and reduce the terrorist threat to the West,  Defence Secretary Michael Fallon said. Germany, which has borne the brunt of Trump s criticism over  the scale of its defense spending, also welcomed the new U.S. plan.  Our continued commitment is necessary on the path to stabilizing the country,  a government spokeswoman said. In June, European allies had already pledged more troops but had not given details on numbers, waiting for the Trump administration to outline its strategy for the region.Nearly 16 years after the U.S.-led invasion - a response to the Sept. 11 attacks which were planned by al Qaeda leader Osama bin Laden from Afghanistan - the country is still struggling with weak central government and a Taliban insurgency. Trump said he shared the frustration of the American people who were  weary of war without victory , but a hasty withdrawal would create a vacuum for groups like Islamic State and al Qaeda to fill.

In [30]:
test(news)

True news ya bro

In [31]:
from sklearn.linear_model import PassiveAggressiveClassifier
clf = PassiveAggressiveClassifier(max_iter=1000, random_state=0, tol=1e-3)
#tol The stopping criterion. If it is not None, the iterations will stop when (loss > previous_loss - tol).
clf.fit(Xtrain,y_train)
y_pred=model.predict(Xtest)
acc=accuracy_score(y_pred,y_test)
report=classification_report(y_pred,y_test)
print(f'Model {model} accuracy is {acc}')
print(report)

Model RandomForestClassifier() accuracy is 0.9906458797327394
              precision    recall  f1-score   support

           0       0.99      0.99      0.99      2332
           1       0.99      0.99      0.99      2158

    accuracy                           0.99      4490
   macro avg       0.99      0.99      0.99      4490
weighted avg       0.99      0.99      0.99      4490